* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter";
}

.body{
  background-color: #cbd2e0;
}

.form-container{
  border: 2px solid #2d3648;

}

.input-field label{
  letter-spacing: -0.01em;
  color: #2d3648;
  font-feature-settings: "calt" off;

  @apply text-base font-semibold
}

.input-field input, select, textarea{
  border: 2px solid #cbd2e0;

  @apply w-full text-base p-2 rounded-md
}

.input-field input, select,textarea:is(:focus, :valid){
  border: 2px solid #cbd2e0;

}

.submit-registro input{
  background-color: #2d3648;
  @apply font-semibold p-4 rounded-md mx-auto text-white
}
